body {
    display: grid;
    margin: 0;
    grid-template-rows: 20vh 80vh;
}

.book {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7EFE5;
}

.bold-text {
    color: #674188;
    font-family: "Oswald";
}

.button-style {
    background-color: #674188;
    color: white;
    border: 0;
    font-family: 'Oswald';
    font-size: xx-large;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

form {
    display: flex;
    flex-direction: column;
    gap: 5px;
}

form > div {
    display: flex;
    align-items: center;
    justify-content: center;
}

h1 {
    font-size: 120px;
}

#header {
    background-color: #F7EFE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

input {
    border-radius: 8px;
    height: 48px;
    font-family: 'Lato';
    border: 0;
}

#main-content {
    background-color: #FFFBF5; 
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 0px 5px;
}

#my-form {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    padding: 20px;
    background-color: #F7EFE5; 
    border-radius: 12px;
    width: 20%;
    height: 50%;
}

#new-book {
    position: absolute;
    border-radius: 100%;
    bottom: 10px;
    right: 10px;
    width: 50px;
    height: 50px;
}

.not-read {
    border-radius: 8px;
    height: 48px;
    font-family: 'Lato';
    border: 0;
    background-color: #A61F69;
    color: white;
    border: 0;
    font-size: xx-large;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

#overlay {
    display: none;
    position: fixed;
    top: 0;
    bottom: 0;
    left: 0;
    right: 0;
    background-color: rgba(0,0,0,0.5);
    z-index: 9999;
}

.read {
    border-radius: 8px;
    height: 48px;
    font-family: 'Lato';
    border: 0;
    background-color: #674188;
    color: white;
    border: 0;
    font-size: xx-large;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    margin-bottom: 15px;
}

.text {
    color: #C3ACD0;
    font-family: 'Lato';
}