body {
    display: grid;
    margin: 0;
    grid-template-rows: 20vh 80vh;
}

.bold-text {
    color: #674188;
    font-family: "Oswald";
}

h1 {
    font-size: 120px;
}

#header {
    background-color: #F7EFE5;
    display: flex;
    justify-content: center;
    align-items: center;
    margin-top: -15px;
}

#main-content {
    background-color: #FFFBF5; 
    display: grid;
    grid-template: repeat(3, 1fr) / repeat(4, 1fr);
    gap: 0px 5px;
}

#new-book {
    position: absolute;
    border-radius: 100%;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border: 0;
    background-color: #674188;
    color: white;
    bottom: 5px;
    right: 5px;
    width: 50px;
    height: 50px;
    font-size: xx-large;
}

.book {
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
    border-radius: 7%;
    margin: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #F7EFE5;
}

.text {
    color: #C3ACD0;
    font-family: 'Lato';
}